* {
	box-sizing: border-box;
}

html {
	font-size: var(--font-size-base);
}

body {
	margin: 0;
	color: var(--foreground);
	background-color: var(--background);
	font-family: "Poppins", sans-serif;
	min-height: 100vh;

	font-size: var(--font-size);
	font-weight: 400;
	line-height: 1.5;
}

main {
	margin: 0 auto;
	padding: 0 var(--page-padding);
	max-width: var(--page-width);
}

a {
	color: var(--acm-blue);
}

img {
	border-radius: var(--border-radius);
}

h1,
h2,
h3 {
	font-weight: 600;
}

.highlight {
	font-weight: 600;
	/* Hack to support both solid colors and gradients. */
	color: transparent;
	background: var(--color);
	background-clip: text;
}

/* Fix css.gg icons. TODO: move this elsewhere. */
i[class^="gg-"] {
	--ggs: 1.25;
	display: inline-block;
	margin-bottom: -0.05em;
}
